body {
	background-color: #1e1e1e;
	color: #dfdfdf;
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

.z { color: #1e1e1e; }

.see-a { color: #dffc00; }
.see-h { color: #899a0d; }
.see-z { color: #586115; }

.why-a { color: #fddf00; }
.why-h { color: #9a890d; }
.why-z { color: #615815; }

.em-a { color: #fd00df; }
.em-h { color: #9a0d89; }
.em-z { color: #611558; }

.kay-a { color: #dfdfdf; }
.kay-h { color: #898989; }
.kay-z { color: #585858; }

header div {
	width: 100%;
}

a {
	text-decoration: none;
	color: #9a0d89;
}

a:visited {
	color: #611558;
}

button {
	cursor: pointer;
	display: inline-block;
	background: #fd00df;
	border: 3px solid #fd00df;
	border-radius: 5px;
	padding: 0px;
	margin-left: 15px;
	font-weight: bold;
}

button p {
	border: 3px solid #1e1e1e;
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
	vertical-align: middle;
	font-size: 1.2rem;
}

nav {
	float: left;
	width: 97%;
	margin-top: 10px;
	height: 55px;
	background-image: url("../images/logo.svg"), url("../images/banner.svg");
	background-position: right, left;
	background-repeat: no-repeat, repeat;
	color: #1e1e1e;
}

nav ul li {
	display: inline-block;
	padding-left: 2em;
	font-size: 1.5rem;
	font-weight: bold;
}

div {
	display: inline-block;
	vertical-align: top;
}

#hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#title {
}

#about {
}

#about p {
	padding: 1rem;
}

#skills {
}

#skills div {
	padding: 1rem;
}

footer {
	width: 100%;
	padding-bottom: 2px;
	background-image: linear-gradient(top, transparent 1.2rem, #611558 1.2rem, #611558 100%);
	background-image: -webkit-linear-gradient(top, transparent 1.2rem, #611558 1.2rem, #611558 100%);
	background-image: -moz-linear-gradient(top, transparent 1.2rem, #611558 1.2rem, #611558 100%);
	background-image: -ms-linear-gradient(top, transparent 1.2rem, #611558 1.2rem, #611558 100%);
	background-image: -o-linear-gradient(top, transparent 1.2rem, #611558 1.2rem, #611558 100%);
}

footer h2 {
	text-align: left;
	padding-left: 1rem;
}

footer ul li {
	display: inline-block;
}

h1 {
	text-align: right;
	font-family: "Roboto Mono", monospace;
	font-weight: 900;
	font-size: 4rem;
}

h2 {
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
	font-weight: 900;
	font-size: 3rem;
	text-align: center;
}

h3 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	margin: 0px;
}

ul {
	padding-left: 0px;
}

li {
	display: block;
}

#projects {
	width: 100%;
	background-image: linear-gradient(top, transparent 2rem, #585858 2rem, #585858 92%, #585858 2rem, transparent 2rem);
	background-image: -webkit-linear-gradient(top, transparent 2rem, #585858 2rem, #585858 92%, #585858 2rem, transparent 2rem);
	background-image: -moz-linear-gradient(top, transparent 2rem, #585858 2rem, #585858 92%, #585858 2rem, transparent 2rem);
	background-image: -ms-linear-gradient(top, transparent 2rem, #585858 2rem, #585858 92%, #585858 2rem, transparent 2rem);
	background-image: -o-linear-gradient(top, transparent 2rem, #585858 2rem, #585858 92%, #585858 2rem, transparent 2rem);
}

#projects h2 {
	color: #fd00df;
}

#projects div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#projects div div {
	padding: 10px;
	width: 307px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

@media only screen and (max-width: 670px) {
	#projects div div img {
		order: 3;
	}
}

@media only screen and (min-width: 670px) and (max-width: 998px) {
	#projects div div:nth-child(2n+1) img {
		order: 3;
	}

	#projects div div:nth-child(1) img {
		order: 1;
	}
}

@media only screen and (min-width: 998px) {
	#projects div div:nth-child(even) {
		padding-top: 2%;
	}

	#projects div div:nth-child(even) img {
		order: 3;
	}
}

footer ul {
	display: flex;
	justify-content: space-around;
}

.ui-tooltip {
	padding: 20px;
	border-radius: 10px;
	font-weight: bold;
	color: #1e1e1e;
}

.ui-tooltip::after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	left: 18px;
	bottom: -10px;
	border-width: 10px 10px 0;
}

.em-tooltip { background: #fd00df; }
.em-tooltip::after { border-color: #fd00df transparent; }

.why-tooltip { background: #fddf00; }
.why-tooltip::after { border-color: #fddf00 transparent; }

.in-tooltip {
	background: #0077b7;
	color: white;
}
.in-tooltip::after { border-color: #0077b7 transparent; }
